body{

    background-attachment: fixed;
    background-image: url("LUNCHBACKROUND1.png");
    background-color: #DFF2DC;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: larger;
}
.button7{
    background-image: url("thirdpage.png");
    border-radius: 3em;
  margin-inline-start: 45%;
  align-self:center ;
    margin-top:10% ;
    font-size:x-large;
    box-shadow: 8px  8px 4px ;
}
.button8{
    background-image: url("thirdpage.png");
    border-radius: 3em;
      margin-inline-start: 45%;
      align-self:center ;
    margin-top:5% ;
    font-size:x-large;
    box-shadow: 8px  8px 4px ;
}
.button9{
    background-image: url("thirdpage.png");
    border-radius: 3em;
  margin-inline-start: 45%;
  align-self:center ;
    margin-top:5% ;
    font-size:x-large;
    box-shadow: 8px  8px 4px ;
}
